{% extends '::layout.html.twig' %}
{% block title %}Collaborateurs {{ parent() }}{% endblock %}
{% block function %}Collaborateurs{% endblock %}

{% block body %}

{% for message in app.session.flashbag.get('info') %}
    <p class="bg-success">{{ message }}</p>
{% endfor %}

<div class="row" id="btns">
    <div class="col-xs-12">
        <a href="{{ path('interim_informatique_add_jobseeker') }}" class="btn btn-primary btn-sm">Ajouter un collaborateur</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Suivi par</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          {% for jobSeeker in jobSeekers %}

        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
{% endfor %}
    </tbody>
</table>


{% endblock %}
