{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Modifier mon profil {{ parent() }}{% endblock %}
{% block function %}Modifier mon profil {% endblock %}
{% block fos_user_content %}
<div class="row" id="btns">
    <div class="col-xs-12">
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary btn-sm">Retour</a>
    </div>
</div>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
