{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}{{ 'change_password.action'|trans({}, 'FOSUserBundle')}} {{ parent() }}{% endblock %}
{% block function %}{{ 'change_password.action'|trans({}, 'FOSUserBundle')}} {% endblock %}
{% block fos_user_content %}
<div class="row" id="btns">
    <div class="col-xs-12">
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary btn-sm">Retour</a>
    </div>
</div>
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
