<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} - {{ project_name }}{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
        'css/bootstrap.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        {% include "InterimInformatiqueBundle:modules:menu.html.twig" %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>{% block function %} {% endblock %}
                        </h1>
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
            {% javascripts
                'js/jquery.min.js'
                'js/bootstrap.min.js' %}
              <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

    </body>
</html>
