{% extends '::layout.html.twig' %}
{% block title %}Modifier un secteur d'activité {{ parent() }}{% endblock %}
{% block function %}Modifier un secteur d'activité{% endblock %}

{% block body %}
<div class="row" id="btns">
    <div class="col-xs-12"><a href="{{ path('interim_informatique_configuration_business_sectors') }}" class="btn btn-primary btn-sm">Retour</a></div>
</div>
{% include 'InterimInformatiqueBundle:modules:form.html.twig' %}

{% endblock %}
