{% extends '::layout.html.twig' %}
{% block title %}Accueil {{ parent() }}{% endblock %}
{% block function %}Accueil{% endblock %}

{% block body %}
Hello!



<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
</form>

{% endblock %}
